/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Common */
.btn {
    padding: .4375rem .625rem;
    border-radius: .4375rem;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: #47adf1;
    color: white;
}

.btn-white {
    color: #e1e4e6;
    border: .0625rem solid #e1e4e6;
    background-color: white;
}

.fa-sort-down {
    vertical-align: text-top;
}

span {
    font-weight: 700;
    font-size: 1.25rem;
}

.circle {
    height: 1.375rem;
    width: 1.375rem;
    border-radius: 50%;
    border: .0625rem solid black;
    text-align: center;
    margin-right: .625rem;
    display: inline-block;
}

.c-green {
    border: .125rem solid #8bd0c0;
}

.c-red {
    border: .125rem solid #f1a3a0;
}

.fa-check {
    color: #8bd0c0;
}

.fa-xmark {
    color: #f1a3a0;
}

.square {
    display: inline-block;
    border-radius: .9375rem;
    padding: .3125rem .625rem;
    font-size: .75rem;
    color: white;
}

h3 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
}

li {
    list-style: none;
    margin: .9375rem 0;
}
/* Header */ 
header {
    padding: .9375rem;
    height: 5rem;
}

header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: sub;
    font-weight: 800;
}

/* Main */
main {
    background-color: #f6f8f9;
    padding: 2.5rem;
}

.container {
    max-width: 56.25rem;
    margin: 0 auto;
    border-radius: .3125rem;
    background-color: white;
}

.row {
    height: 3.75rem;
    padding: .625rem;
    border-bottom: .125rem solid #f6f8f9;
}
.fa-sort-down {
    vertical-align: text-top;
}

/* section2 */
.violet {
    background-color: #9c72e4;
}
.acqua {
    background-color: #64c0a9;
}
.orange {
    background-color: #f29e33;
}

.section2 ul {
    margin: 1.875rem 0;
}
